body {
    align: top;
    background-color: teal;
}

.profile {
    width: 30%;
    text-align: top;
    border-radius: 50%;
}



h1 {
    color: lightseagreen;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

# {
    padding: 50px;
    text-align: center;
    align; top;
}

#Home {
    padding: 50px;
    text-align: center;
}

#Staff {
    padding: 50px;
    text-align: center;
}

#Enrollment {
    padding: 50px;
    text-align: center;
}

#Activities {
    padding: 50px;
    text-align: center;
}

#Contact {
    padding: 50px;
    text-align: center;
}
#Campus {
    padding: 50px;
    text-align: center;
}


.line {
    height: 2px;
    background-color: #000;
    width: 500px;
    margin: 8px auto;
}

p {
    color: lightseagreen;
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;

}

.links {
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
    background-color: aqua;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.article:hover {
    color: fuchsia;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    color: white;
    text-shadow: none;
}
# {
    padding: 50px;
    text-align: center;
    align; top;
}

campus_mainDiv
{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.campus_mainDiv img
{
  width: 100%;
}

.campus_mainDiv hr
{
    width: 230px;
}

 .campus_mainDiv p
{  
    color: lightseagreen;
    
}



